@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600);

@media all {
    body {
        font-family: 'Source Sans Pro', sans-serif; 
        font-weight: 300;
        margin:0;
        background-color:#fff;
    }
    * { box-sizing:border-box; }
    h2 {
        margin:0;
        font-weight:300;
        font-size:2em;
    }
    h3 {
        margin:0;
        font-weight:300;
        font-size:1.5em;
    }
    strong {
        font-weight:600;
    }
    p {
        margin:0;
        margin-bottom:10px;
        padding:0;
    }
    hr { color:#ddd; }
    a:hover { text-decoration: underline; }
    a {
        text-decoration: none; /*Eliminates underline*/
        color: #A51E36;
    }
    
    /* Wrap everything above the footer in white */
    #main-wrapper {
        background: #fff;
    }

    /*****************header******************/
    #header {  background-color:#fff; }
    #header span { line-height:100%; }
    #header a:hover { text-decoration:none; }
    #header .container { padding-bottom:0; }
    #column-1 img {
        margin-right:20px;
    }
    #column-2 { padding-bottom:10px; }
    #column-2 .first-line {
        color:#222;
        font-size:2em;
    }
    #column-2 .second-line {
        color:#A51E36;
        font-weight:bold;
        font-size:3em;
        letter-spacing:-2px;
    }
    #column-3 > * {
        overflow:hidden; /* Makes it so that the floated elements "count" in the wrapper */
    }
    #column-3 #social-media-wrapper img {
        width:30%;
        max-width:80px;
        float:right;
        padding-right:0;
        padding-left:20px;
    }
    #column-3 #contact-info {
        text-align:right;
        padding-top:10px;
    }

    /*********************navigation*****************/
    #navigation-wrapper {
        width:100%;
        background-color:#e8e8e8;
        box-shadow: 0px 10px 8px -5px #888888;
        position:relative;
        z-index:1;
    }
    #navigation-wrapper .container { padding:0; }
    #navigation { padding:0; }
    #navigation ul {
        list-style-type:none; 
        margin:0;
        padding:0;
    }
    #navigation ul li {
        font-size:1.2em;
        display:inline-block;
        padding:8px 20px;
        color:#3A3A3A;
        background-color:#e8e8e8;
        text-align:center;
    }
    #navigation ul li:hover {
        background-color:#ddd;
        transition:0.1s;
        cursor:pointer;
    }
    #navigation ul li.active {
        background-color:#A51E36;
        color:#EEE;
    }
    #full-navigation-wrapper {
        display:none;
        background-color:#A51E36;
    }
    #full-resource-wrapper {
        display:none;
        background-color:#A51E36;
    }
    #full-navigation { color:#eee; }
    #full-navigation h2 { border-bottom:1px solid #eee; }
    #full-navigation a h2 { color: #eee; }
    #full-navigation ul { 
        list-style-type:none; 
        padding-left:20px;
    }
    #full-navigation ul a { color: #eee; }
    #full-navigation ul li { padding:2px; }
    #full-navigation ul a:hover { text-decoration:none; }
    #full-navigation ul li:hover { background-color:#B74A5E; }

    /********************body*******************/
    .container {
        width:70%;
        margin:0 auto;
        padding:20px 0;
    }
    .contacts { border-bottom:1px solid #ddd; }

    /***********************clearfix things*********************/
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    .row {
        margin: 0 -10px;
        margin-bottom: 0px;
    }
    .row:last-child { margin-bottom: 0; }
    [class*="col-"] { padding: 10px; }
}

/* Mobile */
@media screen and ( max-device-width: 600px ) {

    /** { font-size:14pt; }*/
    .container { width:85%; }
    #header #column-1 { display:none; }
    #header #column-2 .first-line {
        font-size:1em;
    }
    #header #column-2 .second-line {
        font-size:1.5em;
    }
    #header #column-3 #social-media-wrapper img {
        max-width:50px;
        padding-left:5px;
    }
    /*#header #column-3 #contact-info p {font-size:0.5em;}*/
    #navigation ul li {
        float:left;
        width:25%;
        padding:8px 2px;
    }   
    .contacts div {
        padding:5px 10px   
    }
    ul { padding-left:15px; }
    ol { padding-left:15px; }
}

/* Intermediate screen widths */
@media screen and ( max-device-width: 1000px ) {
    #full-navigation h2 { font-size:1.3em; }
}

/* Desktop */
@media screen and ( min-device-width: 600px ) {
  
    .col-2-3 { float: left; width: 66.66%; }
    .col-1-2 { float: left; width: 50%; }
    .col-1-3 { float: left; width: 33.33%; }
    .col-1-4 { float: left; width: 25%; }
    .col-3-4 { float: left; width: 75%; }
    .col-1-8 { float: left; width: 12.5%; }
    .col-1-6 { float: left; width: 16.66%; }
    .col-1-2:nth-child(4n+1) { clear:both; }
    .block-quote {
        text-align:center;
        width:60%;
        margin:0 auto;
    }
    .contacts div  {
        overflow: hidden;
        text-overflow:ellipsis;
    }  
    #header #column-1 {
        float:left;
        width:10%;
    }
    #header #column-2 {
        float:left;
        width:50%;
    }
    #header #column-3 {
        float:left;
        width:40%;
    }
}
