#announcement-wrapper {
    font-size:1.3em; 
    background-image: linear-gradient(#ddd,#999);
}
#close-button {
    text-align:right;
}   
#close-button:hover {
    color:#A51E36;
    cursor:pointer;
    transition:0.5s;
}
#banner {
    background-image: url("../static/PrimaryBanner.jpg");
    height:500px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 10%;
}
#banner-content a { 
    text-decoration:none; 
    color:#333;
}
#banner-election {
    background-image: url("/static/dennychimes01_crop.png");
    height:300px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 10%;
}
#banner-content {
    color:#333;
    font-weight:bold;
    font-size:4.0em;
    line-height:0.8em;
    position:relative;
    padding:10px;
    top:10%;
    left:20%;
    max-width:300px;

    /*width:70%;
    margin:0 auto;
    padding:60px 0px;
    text-align:center;*/

    letter-spacing: -3px;
    background-color: rgba(200,200,200,0.5);
    transition:0.5s;
}
#banner-content:hover {
    color:#222;
    background-color: rgba(200,200,200,0.7);
    transition:0.5s;
}
.poster {
    width:100%;
    transition:0.2s;
}
#banner-2 {
    width:100%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color:#eee;
}
#banner-2-border {
    width:100%;
    border-top:2px solid #ccc;
    border-bottom:2px solid #ccc;
    border-left:2px solid #ccc;
    border-right:2px solid #ccc;
    background-color:#eee;
}
}
.event {
    padding-bottom:0;
    margin-bottom:0;
    width:90%;
    margin:0 auto;
}
.event h2 {
    line-height:1em;
}
.event-content {
    min-height:70px;
}
.event-divider {
    border-color:#ccc;
    width:80%;
    margin:10px auto;
}
.event-date {
    background-color:#A51E36;
    width:70px;
    color:white;
    text-align:right;
    padding:0 5px;
    border-radius:5px;
    margin:0px 20px 10px 20px;
    float:left;
}
.event-date #month {
    font-size:1.5em;
    line-height:30px;
}
.event-date #day {
    font-size:3em;
    font-weight:bold;
    line-height:30px;
}
/* desktop */
@media screen and ( min-device-width: 600px ) {

    .col-1-2.poster-wrap {    
        float: left;
        width: 100%;
    }

    .poster:hover {
        box-shadow:0 0 20px 0px #888;
        transition:0.2s;
    }

}

/* sets triggers for changing columns */
@media screen and ( min-device-width: 1100px ) {

    .col-1-2.poster-wrap {
        width: 50%;
    }       
    .col-1-2.poster-wrap:nth-child(4n+1) {
        clear:none;
    }
    .poster:hover {
        box-shadow:0 0 20px 0px #888;
        transition:0.2s;
    }
}

/* mobile */
@media screen and (max-device-width: 600px ) {
    #banner {
        height:125px;
    }
    #banner-content {
        left:2%;
        display: none; /* Playing around for now */
    }
    .poster {
        width:100%;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
    }
    .event-content { clear:both; }
    .event-date {
        background-color:#A51E36;
        color:white;
        width:auto;
        text-align:right;
        padding:0 5px;
        border-radius:5px;
        margin:0px 20px 10px 20px;
        clear:both;
        position:relative;
        height:auto;
    }
    .event-date #month {
        font-size:1.5em;
        line-height:initial;
    }
    .event-date #day {
        font-size:3em;
        font-weight:bold;
        line-height:initial;
    }
}
