<div id="header">
    <div class="container">
        <div class="row clearfix">
            <style>
            /* Have to put this style sheet here or else Google's default.css overrides it */
            .gsc-search-button input, .gsc-search-button input:hover {
                height: 30px;
                background-image: url("/common/active-search.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .gsc-input-box {
                height:30px;
            }
            </style>

            <div id="column-1">
                <a href="/"><img src="/static/ua-square.svg"/></a>
            </div>

            <div id="column-2">
                <a href="/">
                    <span class="first-line">THE UNIVERSITY OF ALABAMA</span><br/>
                    <span class="second-line">STUDENT GOVERNMENT ASSOCIATION</span>
                </a>
            </div>

            <div id="column-3">
                <div id="social-media-wrapper">
                    <a href="https://instagram.com/uasga/" target="_blank"><img src="/static/instagram-crimson.png"/></a>
                    <a href="https://twitter.com/uasga" target="_blank"><img src="/static/twitter-crimson.png"/></a>
                    <a href="https://www.facebook.com/UASGA" target="_blank"><img src="/static/facebook-crimson.png"/></a>
                </div>

                <div id="contact-info">
                    <p>2617 Ferguson Center | (205) 348-2742  | <a href="mailto:info@sga.ua.edu">info@sga.ua.edu</a></p>
                </div>
                 <div id="search-bar">
                    <script>
                        (function() {
                            var cx = '002669620569751240419:ut8hmdqn_g8';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                '//cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search></gcse:search>
                </div>

           </div><!--column-3-->

        </div><!--row clearfix-->
    </div><!--container-->
</div><!--header-->
