
<!-- This is a comment -->
<div id="navigation-wrapper">
    <div class="container">
        <div id="navigation">
            <div class="row clearfix">
                <ul>
                    <a href="/"><li id="home-tab" class="active">Home</li></a>
                    <li id="directory">Directory</li>
                    <li id="resources">Resources</li>
                    <!--<a href="/documents/pressreleases/index.html"><li>News</li></a>-->
                    <a href="/elections/index.html"><li>Elections</li></a>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="full-resource-wrapper">
        <div class="container">
            <div id="full-navigation">
                <div class="row clearfix">
                    <div class="col-1-4">
                        <h2>Resources</h2>
                        <ul>
                            <li><a href="https://www.ua.edu/campuslife/uact/" target="_blank">UAct</a></li>
                            <li><a href="http://safezone.ua.edu/" target="_blank">Safe Zone</a></li>
                            <li><a href="http://counseling.ua.edu/" target="_blank">Counseling Center</a></li>
                            <li><a href="http://shc.ua.edu/" target="_blank">Student Health Center</a></li>
                            <li><a href="http://wgrc.ua.edu/" target="_blank">Women & Gender Resource Center</a></li>
                        </ul>
                    </div>
                    <div class="col-1-4">
                        <h2>Programs</h2>
                        <ul>
                            <li><a href="http://bamacares.ua.edu/" target="_blank">Bama Cares</a></li>
                            <li><a href="http://bamadining.ua.edu/student2student/" target="_blank">Got Meals?</a></li>
                            <li><a href="http://eop.ua.edu/" target="_blank">Equal Opportunity Programs</a></li>
                            <li><a href="http://bamacares.ua.edu/kindness.cfm" target="_blank">Student Emergency Relief Fund</a></li>      
                            
                        </ul>
                    </div>
                    <div class="col-1-4">
                        <h2>Departments</h2>
                        <ul>
                            <li><a href="https://police.ua.edu/" target="_blank">UAPD</a></li>
                            <li><a href="https://vets.sa.ua.edu/" target="_blank">Veteran Affairs</a></li>
                            <li><a href="http://dos.ua.edu/" target="_blank">Dean of Students</a></li>
                            <li><a href="https://sa.ua.edu/" target="_blank">Division of Student Affairs</a></li>                  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="full-navigation-wrapper">
        <div class="container">
            <div id="full-navigation">
                <div class="row clearfix">
                    <div class="col-1-4">
                        <h2>Branches</h2>
                        <ul>
                            <li><a href="/branches/executive">Executive</a></li>
                            <ul>
                                <li><a href="/branches/executive/contacts.html">Executive Contacts</a></li>
                            </ul>
                            <li><a href="/branches/judicial">Judicial</a></li>
                            <ul>
                                <li><a href="/branches/judicial/rulings.html">Rulings</a></li>
                                <li><a href="/branches/judicial/football-ticket-appeals.html">Football Ticket Appeals</a></li>         
                            </ul>
                            <li><a href="/branches/senate">Senate</a></li>
                        </ul>
                    </div>
                    <div class="col-1-4">
                        <a href="/initiatives/"><h2>Initiatives</h2></a>
                        <ul>
                            <li><a href="/initiatives#ItsOnUs">It's On Us</a></li>
                            <li><a href="/parkingpartner/">Parking Partner</a></li>
                            <li><a href="/initiatives#FAC">Financial Affairs Committee</a></li>
                            <li><a href="/initiatives#SOS">Student Organization Seating</a></li>
                            <li><a href="/initiatives/services.html">Student Services</a></li>
                            <li><a href="/initiatives/veterans-week.html">Veterans Week</a></li>
                        </ul>
                    </div>
                    <div class="col-1-4">
                        <a href="/documents/"><h2>Documents</h2></a>
                        <ul>
                            <li><a href="/documents/legislative/">Current Legislative Documents</a></li>
                            <li><a href="/documents/executive/">Current Executive Documents</a></li>
                            <li><a href="/documents/constitution.html">Constitution</a></li>
                            <li><a href="/documents/code_of_laws.html">Code of Laws</a></li>
                            <li><a href="/documents/senate-regulations.html">Senate Rules & Regulations</a></li>
                            <li><a href="/documents/static/elections_timeline.pdf">'17-'18 Election Timeline</a></li>
                        </ul>
                    </div>
                    <div class="col-1-4">
                        <h2>Applications</h2>
                        <ul>
                            <li><a href="/applications/mil-dependent-fund.html">Military Dependent Scholarship</a></li>
                            <li><a href="/initiatives/static/needs_based_scholarship_application.pdf" target="_blank">Needs-Based Scholarships</a>
                            </li>
                            <li><a href="/applications/board-of-gov.html">Board of Governors</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/menu.js">
</script>
